<html>
<head>
</head>
<h2>Halo, Apa Kabar</h2>
<form method="POST" class="form">
	{% csrf_token %}
	<p>Status</p>
	{{ form.status }}
	</p>
	{{ form.date }}{{ form.time }}
	<input type="submit" id="button" value="Submit" />
</form>
<p>
	<table border=1>
	<tr>
	<th><font face="Arial" size=4>Status
	<th><font face="Arial" size=4>Time
    {% for j in status %}
		<tr>
		<td>
		<font face="Arial" size=3>{{ j.status }}
		<td><font face="Arial" size=3>{{ j.time }} {{ j.date }}
		<td><form action="remove" method="POST" >
		{% csrf_token %}
		<input type="hidden" value="{{ j.id }}" name="id" />
		<input type="submit" value="Delete" id="{{ j.status }}Del" />
        </form>
		<p><br>
    {% endfor %}

</body>
</html>
